# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Database & Exports
animals.db
animals.db-journal
species_export.csv

# Environment / Sensitive
.env
.checkpoint
repair_zoo.py
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
